@import "../variables/MainColors.scss";


.project-container{
    margin: auto;
    margin-top: 2vh;
    justify-content: center;
    width: 80vw;
    height: 90vh;
    background: rgba(45, 45, 45, 0.6);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.4px);
    -webkit-backdrop-filter: blur(9.4px);
    border: 1px solid rgba(45, 45, 45, 0.3);
    border-radius: 10px;
    font-family: $main-font;
    color: $yellow;
    img{
        height: 50%;
        width: 50%;
        margin-top: 20px;
        margin-left: 25%;
        border-radius: 20px;  
    }
}

.project-text-container{
    padding: 1px 30px;
    h3{
        margin-block-start: 0;
        margin-block-end: 0;
        font-size: 45px;
    }
    .project-description{
        font-size: 35px;
    }
}

.project-details-container{
    display: grid;
    grid-template-columns: repeat(2,auto);
    p{
        font-size: 30px;
    }
    a{
        text-decoration: none;
        font-weight: bold;
        color: rgb(244, 8, 224);
        letter-spacing: 1px;
    }
}


@media screen and (max-width:1440px) and (min-height:800px) {
    .project-text-container{
        h3{

            font-size: 30px
        }
        .project-description{
            font-size: 20px;
        }
    }

    .project-details-container{
        p{
            font-size: 15px;
        }
    } 
}

@media screen and (max-width:1440px){
    .project-text-container{
        h3{

            font-size: 20px
        }
        .project-description{
            font-size: 15px;
        }
    }

    .project-details-container{
        p{
            font-size: 12px;
        }
    } 
}

@media screen and (max-width:1024px) {
    .project-container{
        img{
            width: 60%;
            margin-left: 20%;
        }
    }
    .project-text-container{
        h3{
            font-size: 25px
        }
        .project-description{
            font-size: 15px;
        }
    }

    .project-details-container{
        p{
            font-size: 10px;
        }
    } 
}

@media screen and (max-width:768px) {
    .project-text-container{
        h3{
            font-size: 20px
        }
        .project-description{
            font-size: 10px;
        }
    }

    .project-details-container{
        p{
            font-size: 8px;
        }
    } 
}

@media screen and (max-width:425px) {
    .project-container{
        height: 60%;
        margin-top: 25%;
        img{
            width: 60%;
            height: 25%;
            margin-left: 20%;
        }
    }
    .project-text-container{
        h3{
            font-size: 15px
        }
        .project-description{
            font-size: 8px;
        }
    }

    .project-details-container{
        display: grid;
        margin-top: 20px;
        grid-template-columns: repeat(1,auto);
        p{
            font-size: 7px;
        }     
    } 
}



