@import "../variables/MainColors.scss";
.App{
    display: flex;
    background-image: url("../../assets/images/background-mountains.jpg");
    background-size: 100%;
    z-index: -10000;
    overflow: hidden;
}

@media (max-width: 1250px) {
    .App{
        display: flex;
        background-image: url("../../assets/images/background-mountains.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
    }
    
  }

  @media screen and (min-width: 1440px){
   .App{
    background-size: cover;
   }
  }

  

