@import "../variables/MainColors.scss";

.contact-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2vh auto;
    h2{
        font-family: $name-font;
        font-size: 8vh;
        margin-block-end: 0px;
    }
    animation: fade-in-contact 0.5s ease-in forwards; 
}

.contact-icons-container{
    display: flex;
    margin: 3vh;
    width:20vw;
    justify-content: space-around; 
    a{
        display: flex;
        align-items: center;
        background: rgb(97,97,97);
        background: linear-gradient(81deg, rgba(97,97,97,0.555234593837535) 0%, rgba(40,3,68,0.46559873949579833) 37%, rgba(2,3,3,0.38996848739495793) 100%);
        border-radius: 50%;
        color: $dark-yellow;
        padding: 2px;
    }
    a:hover{
        color: rgb(237, 148, 160);
        transition: all 0.3s ease-in;
    }
}

.input-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 7vh 5vh 7vh 5vh 7vh 5vh 12vh 5vh
}


.submit-btn{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 2px 10px;
    width: 12vw;
    margin: auto;
    border-radius: 10px;
    background-image: url("../../assets/images/button-background.png");
    background-size: cover;
    color: wheat;
    font-weight: bold;
    font-family: $main-font; 
    .send-icon{
        display: none;
        animation: fade-in-button 0.5s ease-out forwards; 
        margin-top:3px
    }
}

.spinner{
    color: wheat;
}

.thanks-message-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    margin: 10vh 25vw;
    animation: fade-in-contact 0.5s ease-in forwards; 
    

    .thank-title{
        font-family: $name-font;
    }

    .new-message-btn{
        cursor: pointer;
        padding:10px;
        border-radius: 10px;
        border:none;
        background-color: rgba(172, 169, 169, 0.505);
        font-family: $main-font;
    }

    .new-message-btn:hover{
        background-color: rgba(228, 226, 226, 0.795);
        transition: all 0.5s ease-in-out;
    }
    
}


button:hover{
    .send-icon{
        display: inline;
    }
    p{
        transition: all 0.3s ease-in-out;
    }
}


@keyframes fade-in-button {
    from {
        opacity: 0;
        transform: translateX(10px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
    }
    

@keyframes fade-out-button {
    from {
        opacity: 0;
        transform: translateX(10px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
    }

@keyframes fade-in-contact{
      from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
    
}
        
