@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

$black-color: #000814;
$dark-blue: #001d3d;
$blue: #003566;
$dark-yellow: #ffc300;
$yellow: #ffd60a;
$gray-color: #e5e5e5;
$dark-background-one: #021f4a;
$dark-background-two: #022c6a;
$dark-background-three: #051857;
$dark-background-four: #010e36fa;


$main-font: 'Poppins', sans-serif;

@mixin buttonAnimation($colorOne,$colorTwo,$fontColor) {
    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #edf6f995;
        z-index: -2;
      }
      &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: darken(#c2cccf95, 15%);
        transition: all .3s;
        z-index: -1;
      }
      &:hover {
        color: #fff;
        &:before {
          width: 100%;
        }
      }
}



