@import "../variables/MainColors.scss";

.about-container{
    display: flex;
    flex-direction: column;
    animation: fade-in-about 0.5s ease-out forwards;  
    width: 90%;
}

.about-description-container{
    margin: 3vh 15vw 1vh 15vw ;
    font-family: $main-font;
    color: $black-color;
    width: 60vw;
}

.about-description-text{
    font-size: 2.5vh;
}

.about-info-container{
    display: flex;
    justify-content: space-around;
}



@keyframes fade-in-about {
    from {
        opacity: 0;
        transform: translateX(20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
    }
    