@import "../variables/MainColors.scss";

.about-container{
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 3vh;
    animation: fade-in-about 0.5s ease-out forwards;  
}

.description-container{
    display: flex;
    flex-direction: column;
    font-family: $main-font;
    color: $black-color;
    width: 60vw;
}

.description-text{
    font-size: 14px;
}

.about-info-container{
    display: flex;
    justify-content: space-between;
}



@keyframes fade-in-about {
    from {
        opacity: 0;
        transform: translateX(20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
    }
    