@import "../variables/MainColors.scss";
.education-container{
    background: rgba(255, 255, 255, 0.42);
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    padding: 0vh 2vw;
    width: 25vw;
    font-family: $main-font;
    
    h5{
        font-size: 15px;
        margin-block-start: 0em;
        margin-block-end: 0em;   
    }
    .list-item-uni{   
        p{
            font-size: 12px;
        }
    }
}

.certificates-container{
    display: flex;
    justify-content: space-between;
    .certificates-links{
        display: flex;
        align-items: center;
        color: $dark-blue;
        margin-top: 2vh;
        text-decoration: none;
        font-size: small;
        background-color: rgba(181, 175, 175, 0.607);
        padding: 5px;
        border-radius: 10px;
    }

    .certificates-links:hover{
        color: rgba(248, 215, 28, 0.893);
    }
}

.more-btn{
    margin-top: 4vh;
    padding: 5px 0px;
    font-family: $main-font;
    font-weight: bold;
    letter-spacing: 1.5px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-image: url("../../assets/images/button-background-opacitiy.png");
    background-size: cover;
}

.more-btn:hover{
    transition: all 0.3s ease-in;
    background-image: url("../../assets/images/button-background.png");
    color: wheat;
}

@media screen and (max-width: 375px) {
    .education-container{
        display: flex;
        flex-direction: column;
        width: 40vw;    
        h2{
            font-size: 3vh;
        }
        h5{
            font-size: 2vh;
        }
        .list-item-uni{   
            p{
                font-size: 1.5vh;
            }
        }
    }

    .certificates-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .certificates-links{
            display: flex;
            justify-content: space-around;
            font-size: 2.5vw;
            font-weight: bold;
            background-color: rgba(181, 175, 175, 0.607);
            padding: 5px;
            border-radius: 10px;
            width: 80%;
            margin: 2px;

            svg{
                font-size: 6vw;
            }
        }

    }

    .more-btn{
        margin-top: 1vh;
        padding: 3px 0px;
        font-size: 10px;
        width: 90%;
        margin: auto;
    }
}

@media screen and (min-width: 425px) {
    .education-container{
        display: flex;
        flex-direction: column;
        width: 40vw;    
        h2{
            font-size: 3.5vh;
        }
        h5{
            font-size: 2vh;
        }
        .list-item-uni{   
            p{
                font-size: 1.5vh;
            }
        }
    }

    .certificates-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .certificates-links{
            display: flex;
            justify-content: space-around;
            font-size: 2.5vw;
            font-weight: bold;
            background-color: rgba(181, 175, 175, 0.607);
            padding: 5px;
            border-radius: 10px;
            width: 80%;
            margin: 2px;
        }

    }
    .more-btn{
        margin-top: 1vh;
        padding: 3px 0px;
        width: 90%;
        margin: auto;
    }

}

@media screen and (min-width: 768px)  and (max-width: 1023px){
    .education-container{
        width: 35vw;
        padding: 0vh 2vw;
        h2{
            font-size: 4vh;
        }
        h5{
            font-size: 2.5vh;
        }
        .list-item-uni{   
            p{
                font-size: 2vh;
            }
        }

        .certificates-container{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            .certificates-links{
                display: flex;
                justify-content: space-around;
                font-size: 1.5vw;
                width: 80%;
                margin: 2px;
            }
    
        }
    }
}

@media screen and (min-width: 1024px) and (max-width: 1439px) {
    .education-container{
        display: flex;
        flex-direction: column;
        padding: 0vh 2vw;
        width: 35vw;
        h5{
            font-size: 15px;
            margin-block-start: 0em;
            margin-block-end: 0em;   
        }
        .list-item-uni{   
            p{
                font-size: 12px;
            }
        }
    }
    
    .certificates-container{
        display: flex;
        flex-direction: row;
        .certificates-links{
            display: flex;
            font-size: 2.5vh;
            background-color: rgba(181, 175, 175, 0.607);
            padding: 5px;
            border-radius: 10px;
            margin-top: 15px;
        }
    
        .certificates-links:hover{
            color: rgba(248, 215, 28, 0.893);
        }
    }
    
    .more-btn{
        margin-top: 1vh;
        padding: 5px 0px;
        letter-spacing: 1.5px;
        width: 70%;
        font-size: 15px;
    }
    
    .more-btn:hover{
        transition: all 0.3s ease-in;
        background-image: url("../../assets/images/button-background.png");
        color: wheat;
    }
}

@media only screen and (min-width: 1440px) and (max-width: 2559px){
    .education-container{
        display: flex;
        flex-direction: column;
        padding: 0vh 2vw;
        width: 35vw;
        h2{
            font-size: 4vh;
        }
        h5{
            font-size: 20px;
            margin-block-start: 0em;
            margin-block-end: 0em;   
        }
        .list-item-uni{   
            p{
                font-size: 15px;
            }
        }
    }
    
    .certificates-container{
        display: flex;
        flex-direction: row;
        .certificates-links{
            display: flex;
            font-size: 2.5vh;
            background-color: rgba(181, 175, 175, 0.607);
            padding: 5px;
            border-radius: 10px;
            margin-top: 15px;
        }
    
        .certificates-links:hover{
            color: rgba(248, 215, 28, 0.893);
        }
    }
    
    .more-btn{
        margin-top: 2vh;
        padding: 5px 0px;
        letter-spacing: 1.5px;
        width: 90%;
        font-size: 20px;
    }
    
    .more-btn:hover{
        transition: all 0.3s ease-in;
        background-image: url("../../assets/images/button-background.png");
        color: wheat;
    }
}
@media only screen and (min-width: 2560px) {
    .education-container{
        display: flex;
        flex-direction: column;
        padding: 0vh 2vw;
        width: 35vw;
        h2{
            font-size: 4vh;
        }
        h5{
            font-size: 3vh;
            margin-block-start: 0em;
            margin-block-end: 0em;   
        }
        .list-item-uni{   
            p{
                font-size: 2vh;
            }
        }
    }
    
    .certificates-container{
        display: flex;
        flex-direction: row;
        .certificates-links{
            display: flex;
            font-size: 2.5vh;
            background-color: rgba(181, 175, 175, 0.607);
            padding: 5px;
            border-radius: 10px;
            margin-top: 15px;
            svg{
                font-size: 3vh;
            }
        }
    
        .certificates-links:hover{
            color: rgba(248, 215, 28, 0.893);
        }
    }
    
    .more-btn{
        margin-top: 2vh;
        padding: 5px 0px;
        letter-spacing: 1.5px;
        width: 90%;
        font-size: 3.5vh;
    }
    
    .more-btn:hover{
        transition: all 0.3s ease-in;
        background-image: url("../../assets/images/button-background.png");
        color: wheat;
    }
}







