@import "../variables/MainColors.scss";
.education-container{
    background: rgba(255, 255, 255, 0.42);
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    padding: 0vh 2vw;
    width: 25vw;
    font-family: $main-font;
    
    h5{
        font-size: 15px;
        margin-block-start: 0em;
        margin-block-end: 0em;   
    }
    .list-item-uni{   
        p{
            font-size: 12px;
        }
    }
}

.certificates-container{
    display: flex;
    justify-content: space-between;
    .certificates-links{
        display: flex;
        align-items: center;
        color: $dark-blue;
        margin-top: 2vh;
        text-decoration: none;
        font-family: $main-font;
        font-size: small;
        background-color: rgba(181, 175, 175, 0.607);
        padding: 5px;
        border-radius: 10px;
    }

    .certificates-links:hover{
        color: rgba(248, 215, 28, 0.893);
    }
}

.more-btn{
    margin-top: 10px;
    padding: 5px 0px;
}

